@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.about-container{
    margin: 1em 3em 10em 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(211, 116, 132)
}

#about-hr{
    border: 1px solid pink;
    width: 10%;
    margin-top: 0
}

.family-pet-photo{
    height: 13em;
    border-radius: 1em;
    margin: 0 0 2em 0;
    border: .5px solid rgb(184, 184, 184);
    box-shadow: 1px 3px 10px rgb(128, 128, 128)
}

.pet-photos{
    margin: 1em 0 2em 0
}

#pet-photo{
    height: 10em;
    margin: .5em 1em;
    border-radius: 50%;
    border: .5px solid rgb(184, 184, 184);
    box-shadow: 1px 3px 10px rgb(128, 128, 128)
}

.hobbies-photos{
    margin: 1em 0 2em 0
}

#hobby-photo{
    height: 8em;
    margin: .5em 1em;
    border-radius: 1em;
    border: .5px solid rgb(184, 184, 184);
    box-shadow: 1px 3px 10px rgb(128, 128, 128)
}